{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cat details{% endblock %}
{% block content %}
    <h1>"{{ cat.name }}" details</h1>
    <div>
        {% if cat.available %}
            <div class="alert alert-success" role="alert">Available now!</div>
        {% else %}
            <div class="alert alert-danger" role="alert">Rented</div>
        {% endif %}
    </div>
    <div>Cat name: {{ cat.name }}</div>
    <div>Cat description: {{ cat.description }}</div>
    <div><a href="{% url 'cats:rental_dates' cat.id %}">Rent a cat!</a></div>
    {% if cat.available %}
        {% crispy form %}
    {% endif %}
{% endblock %}