{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Explore{% endblock %}
{% block content %}
    <h1>Explore all Cats</h1>
    <div style="width: 200px; text-align: center; margin: auto">
        {% crispy search_form %}
    </div>
    <hr class="rounded">
    <table class="table table-hover">
        <thead>
        <td>Name</td>
        <td>Breed</td>
        <td>Last rental</td>
        <td>Last return</td>
        <td>Status</td>
        </thead>
        {% for cat in cats_list %}
            <tr>
                <td><a class="btn btn-outline-primary" href="{% url 'cats:details' cat.id %}"
                       role="button">{{ cat.name }}</a></td>
                <td>{{ cat.breed }}</td>
                <td>{{ cat.rentals.last.rental_date }}</td>
                <td>{{ cat.rentals.last.return_date }}</td>
{#                <td>{% if cat.available == True %}Available{% else %}Rented{% endif %}</td>#}
            </tr>
        {% endfor %}
    </table>
{% endblock %}