{% extends 'base.html' %}
{% block content %}

<head>
    <title>Cats list</title>
</head>
<h1>List of cats</h1>

<ul>
    Available cats:
    {% for cat in cats_list %}
        {% if cat.available %}
            <li>
            <a href="{%  url 'cats:details' cat.id %}">{{ cat }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<ul>
    Already rented cats:
    {% for cat in cats_list %}
        {% if not cat.available %}
            <li> {{ cat }} --- Not available till:</li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}