{% extends 'base.html' %}
{% block title %}Rentals list{% endblock %}
{% block content %}
    <h1>Your rentals history</h1>
    <table class="table table-stripped">
        <thead>
        <th>Cat's name</th>
        <th>Rental date</th>
        <th>Return date</th>
        <th>Cancel rental</th>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <form action="{% url "cats:rentals_list" %}" method="post">
                {% csrf_token %}
                <tr>
                    <td>{{ rental.cat.name }}</td>
                    <td>{{ rental.rental_date }}</td>
                    <td>
                        {% if rental.return_date %} {{ rental.return_date }}
                        {% else %}
                            <button type="submit" name="cat_{{ rental.cat.id }}" class="btn btn-primary">Return</button>
                        {% endif %}
                    </td>
                    <td>
{#                    TODO: if (for this user and this cat) exists Rental with date_to in future (or today) then show button#}
                        {% if False %}
                            - - -
                        {% else %}
                            <button type="submit" name="cat_{{ rental.cat.id }}" class="btn btn-primary">
                                Cancel now
                            </button>
                        {% endif %}
                    </td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}