{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cat details{% endblock %}
{% block content %}
    <h1>Choose dates</h1>
    <div>Cat name: {{ cat.name }}</div>
    <div>Cat description: {{ cat.description }}</div>
    <div>
        Choose dates:
        <ul>
            From:
            {% crispy calendar_form %}
            To:
            {% crispy calendar_form %}
        </ul>
        <div style="text-align: center;">
            {% crispy rental_form %}
        </div>
    </div>
{% endblock %}
