<head>
    <title>Cat rented!</title>
</head>
{% extends 'base.html' %}
{% block content %}
    <h1>Congrats! You've just rented a cat!</h1>
    <div>
        Cat info:
        <li>
            ID: {{ cat.id }}
        </li>
        <li>
            name: {{ cat.name }}
        </li>
        <li>
            species: {{ cat.species }}
        </li>
        <li>
            breed: {{ cat.breed }}
        </li>
    </div>

    <div>
        Rental time:
    </div>
    <div>
        Tu będzie okres wynajmu
    </div>
{% endblock %}