{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Cat details{% endblock %}
{% block content %}
    <h1>Rental dates</h1>
    <div style="text-align: center; max-width: 200px; margin: auto">
        <div>
            <label>
                You're going to rent: {{ cat.name }}
            </label>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ rental_form }}
                <button type="submit"> Rent!</button>
        </form>
    </div>
{% endblock %}
