{% extends 'base.html' %}
{% block title %}Rentals list{% endblock %}
{% block content %}
    <h1>Your rentals history</h1>
    <table class="table table-stripped">
        <thead>
        <th>Cat's name</th>
        <th><a href="?order_by=Rental_date">Rental date</a></th>
        <th><a href="?order_by=Return_date">Return date</a></th>
        <th></th>
        </thead>
        <tbody>
        {% for rental in user_rentals %}
            <form action="{% url "cats:rentals_history" %}" method="post">
                {% csrf_token %}
                <tr>
                    <td>{{ rental.cat.name }}</td>
                    <td>{{ rental.rental_date }}</td>
                    <td>{{ rental.return_date }}</td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}