<head>
    <title>Species list</title>
</head>
{% extends 'base.html' %}
{% block content %}
    <h1>Species</h1>
    <h4 style="text-align: center">Choose one of the species</h4>
    <div style="text-align: center" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Choose the Species</button>
        <ul class="dropdown-menu">
            {% for species in species_list %}
                <li><a class="dropdown-item" href="{% url 'cats:cats_list' species.id %}">{{ species.name }}</a></li>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'cats:explore_list' %}">Explore all cats</a>
        </ul>
    </div>
{% endblock %}


