{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Boostrap basic imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Customs -->
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    {% block styles %} {% endblock %}
</head>

<body>
<div class="container">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static "main/img/logo.png" %}" alt="logo" width="40" height="45">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'cats:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{% url 'cats:species' %}" class="nav-link px-2 text-white">Species</a></li>
                    <li><a href="{% url 'cats:rentals_list' %}" class="nav-link px-2 text-white">Rentals</a></li>
                    <li><a href="{% url 'cats:about' %}" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search" control-id="ControlID-1">
                </form>

                <div class="text-end">
                    {% if user.is_authenticated %}
                        <a type="button" class="btn btn-outline-light me-2" href="{% url "logout" %}">Logout</a>
                    {% else %}
                        <a type="button" class="btn btn-outline-light me-2" href="{% url "login" %}">Login</a>
                        <a type="button" class="btn btn-warning" href="{% url "register:register" %}">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

</div>

<div class=" container">
    {% block content %}
    {% endblock %}
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
            </svg>
        </a>
        <span class="text-muted">© 2022 p-wel/tylko
        </span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>


<style>
    body {
        background-color: beige;
    }

    h1 {
        color: darkgreen;
        text-align: center;
    }


</style>

</html>