<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<header>
    <ul>* CAT RENTAL *</ul>
</header>
<nav>
    <ul>
        <li>
            <a href="{% url 'cats:index' %}">Homepage</a>
        </li>
        <li>
            <a href="{% url 'cats:species' %}">Species list</a>
        </li>
    </ul>
    -----
</nav>
{% block content %}
{% endblock %}
<footer>
    <div>-----</div>
    <a href="{% url 'cats:about' %}">About the website</a>
</footer>
</body>
</html>