<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<header>
    Tu będzie header
</header>
<nav>
    <ul>
        <li>
            <a href="{% url 'cats:index' %}">Homepage</a>
        </li>
    </ul>
</nav>
{% block content %}
{% endblock %}
<footer>
    Tu będzie footer
</footer>
<nav>
    <ul>
        <li>
            <a href="{% url 'cats:about' %}">About the website</a>
        </li>
    </ul>
</nav>
</body>
</html>